
* {box-sizing: border-box;}

body {
    margin: 20px;
    color: #fff;
    font-family: arial;
}

.button {
    padding: 10px 16px;
    background: #00b0ff;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0,0,0,2);
}

.btnc {
  width: 100px;
  height: 30px;
  padding: 10px 16px;
  color: #fff;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 3px;
  box-shadow: 0 2px 2px 2px rgba(250,250,250,0.2);
  background: #00b0ff;
  cursor: pointer;
  float: right;
}

.modal {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
    display: none;
}

.modal-content {
    width: 400px;
    height: 250px;
    background: #81d4fa;
    border-radius: 3px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.modal-header {
    width: 400px;
    height: 40px;
    padding: 10px;
    background: #00b0ff;
    font-weight: bold;
    text-shadow: -1px 1px 1px rgba(0,0,0,0.2);

}

.modal-body {
    width: 400px;
    height: 160px;
    padding: 20px 10px;
}

.modal-footer {
    width: 400px;
    height: 50px;
    padding: 10px;
    box-shadow: 0 -1px 1px rgba(0,0,0.2);
}